{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="D5A5909342D175ECDD7E4665C7D97FAF" />
    <meta name="google-site-verification" content="j4hCo0t6GR5vApCuqjSQO_x2QhciBBRdhTPTHbTvUuI" />
    <meta name="description" content="Learn how to apply for the Lowe’s Credit Card online or in-store. Follow our step-by-step guide to check eligibility, gather documents, and enjoy cardholder benefits like 5% off and special financing." />
    <meta name="keywords" content="Lowe’s Credit Card, apply for Lowe’s Advantage Card, lowes.syf.com, Lowe’s financing, Lowe’s store credit card, Lowe’s card application" />
    <meta name="robots" content="index, follow" />
    <title>How to Apply for the Lowe’s Credit Card – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
